{% extends "base.html" %}


{% block title %}Twitter Login {% endblock %}

{% block content %}
    <div id="" class="container-fluid pt-5">

        <div id="intro-text" class="row">
            <!-- <div class="col-sm-2"></div> -->
            <div class="col-sm-4 text-left text-capitalized text-white">
                <p> A simple Twitter alert system that uses the Python module Advertools to connect to the Twitter API and scan the current day's posts of specific accounts for keywords of interest.</p>
                <p>If a match is found, an email alert will be sent to ensure he/she never misses another core update announcement.</p>
            </div>
            <!-- <div class="col-sm-1"></div> -->

            <div id="login-face" class="col-sm-8 border">
                <div id="login-div-statement">
                    <p>Don't have an account? <span><a href="/" class="text-warning">Sign Up</a></span></p> 
                </div>
                <div id="form-div">
                    <form action="#">
                        <div class=" ">
                          <label for="email" class="form-label">USERNAME / EMAIL:</label>
                          <input type="text" class="form-control" name="username" id="" placeholder="John Doe">
                        </div>
                        <div class="">
                            <label for="pwd" class="form-label">PASSWORD:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                        </div>
                        <div class="form-check mb-sm-3 ">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="remember"> Remember me
                          </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
        </div>

        
    </div>
{% endblock %}
    