<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Login</title>
    <link rel="stylesheet" href="../../static/style.css">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div id="" class="container-fluid pt-5">

        <div id="intro-text" class="row">
            <!-- <div class="col-sm-2"></div> -->
            <div class="col-sm-4 text-left text-capitalized text-white">
                <p> A simple Twitter alert system that uses the Python module Advertools to connect to the Twitter API and scan the current day's posts of specific accounts for keywords of interest.</p>
                <p>If a match is found, an email alert will be sent to ensure he/she never misses another core update announcement.</p>
            </div>
            <!-- <div class="col-sm-1"></div> -->

            <div id="login-face" class="col-sm-8 border">
                <div id="login-div-statement">
                    <p>Don't have an account? <span><a href="/" class="text-warning">Sign Up</a></span></p> 
                </div>
                <div id="form-div">
                    <form action="#">
                        <div class=" ">
                          <label for="email" class="form-label">USERNAME / EMAIL:</label>
                          <input type="text" class="form-control" name="username" id="" placeholder="John Doe">
                        </div>
                        <div class="">
                            <label for="pwd" class="form-label">PASSWORD:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                        </div>
                        <div class="form-check mb-sm-3 ">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="remember"> Remember me
                          </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
        </div>

        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>