{% extends "base.html" %}


{% block title %}Twitter Sign Up {% endblock %}

    
{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class='bg-success text-white p-sm-2 text-sm-center' style='position:absolute; border-radius: 10px;'>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<div id="" class="container-fluid pt-5">

    <div id="intro-text" class="row">
        <!-- <div class="col-sm-2"></div> -->
        <div class="col-sm-4 text-left text-capitalized text-white">
            <p> A simple Twitter alert system that uses the Python module Advertools to connect to the Twitter API and scan the current day's posts of specific accounts for keywords of interest.</p>
            <p>If a match is found, an email alert will be sent to ensure he/she never misses another core update announcement.</p>
        </div>
        <!-- <div class="col-sm-1"></div> -->

        <div id="login-face" class="col-sm-8 border">
            <div id="login-div-statement">
                <p>Already registered? <span><a href="login" class="text-warning">Login</a></span></p> 
            </div>
            <div id="form-div">
                <form name="myForm" action="#" id="form" method = 'POST'>
                    <div class="input-control ">
                      <label for="username" class="form-label" id="username" >USERNAME: <span> </span></label>
                      <input type="text" class="form-control" name="username" id="" placeholder="John Doe">
                      <div class="error"></div>
                    </div>
                    <div class="input-control">
                        <label for="email" class="form-label">EMAIL:</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="johndoe@email.com" value="{{email if email}}">
                        <div class="error"></div>
                    </div>
                    <div class="input-control">
                        <label for="pwd" class="form-label">PASSWORD:</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
                        <div class="error"></div>
                    </div>
                    <div class="mb-sm-3">
                      <label for="confirm_password" class="form-label">CONFIRM PASSWORD:</label>
                      <input type="password" class="form-control" id="confirm_password" placeholder="Confirm password" name="cnpswd">
                    </div>
                    <!-- <div class="form-check ">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="remember"> Remember me
                      </label>
                    </div> -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
    