/* *{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
} */

body{
    /* height: 70vh; */
    /* width: 100%; */
    background-image: url('images/login_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px;
    background-clip: border-box;
    background-size: cover;
}

#login-face{
    width: 50%;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 10%;
    padding: 20px;
    /* align-items: center; */
    background-color: rgb(6, 145, 187, 0.5);
}

#intro-text{
    font-weight: bold;
    /* font-size: 40px; */
}

#login-div-statement{
    /* font-size: 30px; */
    font-weight: bold;
    background-color: rgb(6, 145, 187);
    padding: 10px;
    margin-bottom: 5px;
}

/* .input-control input {
    display: block;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-size: 12px;
    padding: 10px;
    width: 100%;
} */

.input-control input:focus {
    outline: 0;
}

.success input {
    border-color: #09c372;
}

.error input{
    border-color: #ff3860;
}

.error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: white;
    text-align: center;
  }

