/* *{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
} */

body{
    /* height: 70vh; */
    /* width: 100%; */
    background-image: url('images/login_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px;
    background-clip: border-box;
    background-size: cover;
}

#login-face{
    width: 50%;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 10%;
    padding: 20px;
    /* align-items: center; */
    background-color: rgb(6, 145, 187, 0.5);
}

#intro-text{
    font-weight: bold;
    /* font-size: 40px; */
}

#login-div-statement{
    /* font-size: 30px; */
    font-weight: bold;
    background-color: rgb(6, 145, 187);
    padding: 10px;
    margin-bottom: 5px;
    }



/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: white;
    text-align: center;
  }

